
nav{
    font-family: 'Calligraffitti';
    background-color: rgba(0, 0, 0, 0.301);
    height: auto;
}

.nav-item{
    display:inline-block;
}
.right {
    float: right;
}
/* .r { */
    /* float: right;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    background-color: rgb(136, 127, 255);
}
.m {
    float: ;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    background-color: rgb(127, 161, 255);
}
.l {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    background-color: rgb(255, 127, 127);
} */
.Hero{
    height: 800px;
    width: 100vw;

}
.Pancho2{
    background-image: url('../img/IMG_2674.jpg');
    background-size: cover;
    background-position: bottom;
    /* height: 700px; */
    width: 100vw;
}
.rowone{
    font-family: 'Calligraffitti', cursive;
    height: 600px;
    background-color: rgb(67, 0, 145);

}


.column{
    height: 400px;
    width: 33%;
    background-color: aqua;
    display: inline-block;
    margin-top: 100px;
}


.img-Pancho {
 height: 100%;

}
.img-Marc{
height: 100%;
}
.img-Deric{
height: 100%;
}
.rowtwo{
    height: 400px;
    background-color: rgb(67, 0, 145);
}
.footer{
    height: 100px;
    background-color: rgb(196, 123, 255);
}
.fa-brands{
    display: inline-block;
    float: right;
    font-size: 27pt;
}